# CSV files
*.csv
# Exception: allow CSV files in models_and_metrics folder
!models_and_metrics/*.csv

# macOS system files
.DS_Store
.DS_Store?

# Python
__pycache__/

# IDE
.vscode/
.idea/

# MLflow
mlruns/
*.pth
# Exception: allow .pth files in models_and_metrics folder
!models_and_metrics/*.pth




